<?xml version="1.0"?>

<launch>

	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
    
  <!-- Arguments -->
  <arg name="world" default="$(find map_pkg)/worlds/square.world"/>
  <arg name="paused" value="false"/>
  <arg name="use_sim_time" value="true"/>
  <arg name="gui" value="true"/>
  <arg name="headless" value="false"/>
  <arg name="debug" value="false"/> 

    <!-- Gazebo empty world launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find map_pkg)/worlds/square.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

	<!-- Load the URDF into the ROS Parameter Server -->

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot_pkg)/description/urdf/robot_$(arg model).urdf.xacro" />

	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->	

	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
    
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find map_pkg)/maps/square/map.yaml">
  </node>

  <!-- Navigation -->
  <include file="$(find nav_pkg)/launch/robot_navigation.launch"/>

      <!-- rviz -->
  <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find map_pkg/rviz/square.rviz"/>
  </group>
</launch>